<li>@Html.ActionLink("Home", "Index", "Home")</li>
<li>@Html.ActionLink("All snippets", "Index", "Snippets")</li>
@if (User.Identity.IsAuthenticated)
{
    <li>@Html.ActionLink("My snippets", "Index", "Users")</li>
    <li>@Html.ActionLink("New snippet", "Create", "Snippets")</li>
}